.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #628A5C;
    color: white;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav {
    display: flex;
    gap: 1rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  nav a:hover {
    color: #ccc;
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-container input {
    display: none;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .search-container button {
    padding: 0.5rem;
    background-color: #78A799;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .search-container button:hover {
    background-color: #C1CD77;
  }
  
  .logo-icon {
    max-width: 40px;
    max-height: 40px;
  }
  
  .search-active .search-container input {
    display: block;
  }
  
  .search-active nav a {
    margin-right: 10px;
  }
  